<!DOCTYPE html>{% load static %}{% load plausible %}
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>#suomiscene | Juhannusveikkaus</title>
    <link rel="stylesheet" href="{% static 'juhannus/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">
    <div class="col">
        Vuodet:
        {% for event in events %}
            <a href="{% url 'juhannus:event-detail' event.year %}">{{ event.year }}</a>
        {% endfor %}
    <a href="{% url 'juhannus:event-stats' %}">Statseja</a>
    </div>
    <div class="col pull-right">
        <a href="https://github.com/T-101/juhannus">Github</a>
    </div>
</div>
{% block content %}
{% endblock %}

{% block htmlform %}
{% endblock %}

{% plausible %}

</body>
</html>
