.winner {
    font-weight: bolder;
}

body {
    font-family: monospace;
    margin-left: 20px;
    padding-bottom: 2em;
}

input {
    font-family: monospace;
}

#id_handle {
    width: 15em;
}

#id_vote {
    width: 6em;
}

.tcolumn {
    text-align: center;
    padding: 5px 20px 5px 20px;
}

.tcolumn-narrow {
    text-align: center;
    padding: 0;
}

.formwrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */
}

.pull-right {
    text-align: right;
}
